body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana, serif;
    font-size: 20px;
}

#ueberschrift {
    font-style: oblique;
}

.high-classbilder {
    margin-bottom: 50%;
}
/* selektoren https://www.w3schools.com/cssref/css_selectors.asp */